In [3]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 7.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import lxml

In [5]:
# ANS-1-
l=[4, 8, 15, 16, 23,42]
list_1=pd.Series(l)
print(list_1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
# ANS-2-
l=[4, 8, 15, 'name','age','utopia', 23,42,'2','ert']
print(len(l))
list_2=pd.Series(l)
print(list_2)

10
0         4
1         8
2        15
3      name
4       age
5    utopia
6        23
7        42
8         2
9       ert
dtype: object

In [7]:
#ANS-3-
d={
    'Name':['Alice','Bob','Claire'],
    'Age':['25','30','27'],
    'Gender':['Female','Male','Female']
  }
d=pd.DataFrame(d)
print(d)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [ ]:
#ANS-4-
A dataframe is a collection of rows and columns whereas a individual row or column is considered to be a Series in pandas.
Ex:-In the above answer,the dataframe contains the columns name,age and gender and all their values in it but the indiviual 0th,
1st or 2nd row will be considered a Series and the same goes for any of the column Name,Age or Gender.

In [ ]:
#Ans-5-
Pandas provides a wide range of functions for data manipulation in a DataFrame. Some of the most common functions include:

head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.

In [ ]:
#ANS-6-
In Pandas, both Series and DataFrame are mutable in nature, which means that their values can be modified after they are created. However, Panel is deprecated in the latest version of Pandas 
and has been replaced by the MultiIndex functionality, which is also mutable.

In [8]:
#ANS-7-
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
s3=pd.Series([7,8,9])
df=pd.DataFrame({'A':s1,'B':s2,'C':s3})
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9