In [1]:
import pandas as pd

In [2]:
#ANS-1-The five functions along with their examples are listed out as follows:-

#read_csv reads the csv file from a url or locally
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [19]:
#.head() displays the top five rows from the top
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#.describe() displays the value for each of the columns like mean,count,min,max etc.
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
#.max() gives us the maximum value of a Series
df['Fare'].max()

512.3292

In [21]:
#.min() gives us the minmum value of a Series
df['Fare'].min()

0.0

In [ ]:
#ANS-2-
def reindex_df(df):
    new_index = range(1, len(df)*2, 2)
    df = df.set_index(pd.Index(new_index))
    return df

In [28]:
#ANS-3-
temp_df=pd.DataFrame({'Values':pd.Series([10, 20, 30, 40, 50])})
sum=0
for i in temp_df['Values'][0:3]:
    sum+=i
print(sum)

60

In [33]:
#ANS-4-
def create_new_col():
    l=[]
    for i in df['Text']:
        l.append(len(i))
    df['Word_count']=pd.Series(l)
create_new_col()

In [ ]:
#ANS-5-
DataFrame.size() returns the total number of elements in the DataFrame, i.e., the product of the number of rows and the number of columns. It returns a scalar value.

DataFrame.shape() returns a tuple with the number of rows and the number of columns in the DataFrame. It returns a tuple of integers.

For example, if a DataFrame has 3 rows and 4 columns, DataFrame.size() would return 12, whereas DataFrame.shape() would return (3, 4).

In [38]:
#ANS-6-df.read_excel() is the function used to read a excel file

In [41]:
#ANS-7-
def getUserName():
    l=[]
    for i in df['Email']:
        l.append(i[-12::-1])
    df['Username']=pd.Series(l)

In [42]:
#ANS-8-
def solve():
    return df[(df['A']>5) & (df['B']<10)]

In [ ]:
#Ans-9-
def calc(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev

In [ ]:
#ANS-10-
def calc_1():
    l=[]
    cnt=1
    sum=0
    for i in df['Sales']:
        if cnt%7==0:
            cnt=1
            l.append(sum/7)
            sum=0
        sum+=i
        cnt+=1
    if cnt!=1:
        l.append(sum)
    df['MovingAverage']=pd.Series(l)

In [1]:
#ANS-11-
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

In [ ]:
#ANS-12-
def days(df):
    return df[(df['Date']>'2023-01-01' ) & (df['Date']< '2023-01-31')]

In [ ]:
#ANS-13- "import pandas" is the most nescessary library that needs to be imported first to use pandas